In [3]:
import pandas as pd

## PART !
##Data is loaded
data = pd.read_csv(r"C:\Users\USER\Downloads\Warehouse_and_Retail_Sales.csv")

data.head()

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
0,2020,1,REPUBLIC NATIONAL DISTRIBUTING CO,100009,BOOTLEG RED - 750ML,WINE,0.00,0.0,2.0
1,2020,1,PWSWN INC,100024,MOMENT DE PLAISIR - 750ML,WINE,0.00,1.0,4.0
2,2020,1,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,1.0
3,2020,1,LANTERNA DISTRIBUTORS INC,100145,SCHLINK HAUS KABINETT - 750ML,WINE,0.00,0.0,1.0
4,2020,1,DIONYSOS IMPORTS INC,100293,SANTORINI GAVALA WHITE - 750ML,WINE,0.82,0.0,0.0

In [4]:
data.tail()
## df.tail(),There are some unusual patterns in the last row

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
307640,2020,9,LEGENDS LTD,99753,DUTCHESS DE BOURGOGNE NR - 750ML,BEER,0.00,0.0,5.00
307641,2020,9,ANHEUSER BUSCH INC,9997,HOEGAARDEN 4/6NR - 12OZ,BEER,66.12,37.0,240.75
307642,2020,9,COASTAL BREWING COMPANY LLC,99970,DOMINION OAK BARREL STOUT 4/6 NR - 12OZ,BEER,2.25,0.0,0.00
307643,2020,9,BOSTON BEER CORPORATION,99990,SAM ADAMS SUMMER VARIETY 12PK NR,BEER,20.50,0.0,0.00
307644,2020,9,NaN,WC,WINE CREDIT,REF,0.00,0.0,-70.00

In [5]:
data.info()
## df.info(),(9 columns, 307645 rows)
##  All the columns have misssing values
column = ["YEAR","MONTH","SUPPLIER","ITEM CODE","ITEM DESCRIPTION","ITEM TYPE","RETAIL SALES","RETAIL TRANSFERS","WAREHOUSE SALES"]
for i in column:
    print(type(data[i]))
## Column 0 = Year = int64
## Column 1 = Month = int64
## Column 2 = Supplier = object
## Column 3 =  ITEM CODE  = object
## Column 4 = ITEM DESCRIPTION  = object
## Column 5 = ITEM TYPE = object
## Column 6 = Retail Sales = float64
## Column 7 = Retail Transfers = float64
## Column 8 = Warehouse sales = float64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307645 entries, 0 to 307644
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   YEAR              307645 non-null  int64
 1   MONTH             307645 non-null  int64
 2   SUPPLIER          307478 non-null  object
 3   ITEM CODE         307645 non-null  object
 4   ITEM DESCRIPTION  307645 non-null  object
 5   ITEM TYPE         307644 non-null  object
 6   RETAIL SALES      307642 non-null  float64
 7   RETAIL TRANSFERS  307645 non-null  float64
 8   WAREHOUSE SALES   307645 non-null  float64
dtypes: float64(3), int64(2), object(4)
memory usage: 21.1+ MB
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [6]:
data.describe()
## df.describe ,Year has the highest mean
## Warehouse sales has an unsually high maximum
## Warehouse sale has an suspicious minimum

,YEAR,MONTH,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
count,307645.000000,307645.000000,307642.000000,307645.000000,307645.000000
mean,2018.438525,6.423862,7.024071,6.936465,25.294597
std,1.083061,3.461812,30.986238,30.237195,249.916798
min,2017.000000,1.000000,-6.490000,-38.490000,-7800.000000
25%,2017.000000,3.000000,0.000000,0.000000,0.000000
50%,2019.000000,7.000000,0.320000,0.000000,1.000000
75%,2019.000000,9.000000,3.267500,3.000000,5.000000
max,2020.000000,12.000000,2739.000000,1990.830000,18317.000000

In [12]:
data.shape
## (307645, 9)
data.columns

Index(['YEAR', 'MONTH', 'SUPPLIER', 'ITEM CODE', 'ITEM DESCRIPTION',
       'ITEM TYPE', 'RETAIL SALES', 'RETAIL TRANSFERS', 'WAREHOUSE SALES'],
      dtype='object')

In [ ]:
data[["SUPPLIER","ITEM DESCRIPTION"]]
### Categorical Columns

,SUPPLIER,ITEM DESCRIPTION
0,REPUBLIC NATIONAL DISTRIBUTING CO,BOOTLEG RED - 750ML
1,PWSWN INC,MOMENT DE PLAISIR - 750ML
2,RELIABLE CHURCHILL LLLP,S SMITH ORGANIC PEAR CIDER - 18.7OZ
3,LANTERNA DISTRIBUTORS INC,SCHLINK HAUS KABINETT - 750ML
4,DIONYSOS IMPORTS INC,SANTORINI GAVALA WHITE - 750ML
...,...,...
307640,LEGENDS LTD,DUTCHESS DE BOURGOGNE NR - 750ML
307641,ANHEUSER BUSCH INC,HOEGAARDEN 4/6NR - 12OZ
307642,COASTAL BREWING COMPANY LLC,DOMINION OAK BARREL STOUT 4/6 NR - 12OZ
307643,BOSTON BEER CORPORATION,SAM ADAMS SUMMER VARIETY 12PK NR
307644,NaN,WINE CREDIT

In [16]:
data[["YEAR","ITEM CODE"]]

        YEAR ITEM CODE
0       2020    100009
1       2020    100024
2       2020      1001
3       2020    100145
4       2020    100293
...      ...       ...
307640  2020     99753
307641  2020      9997
307642  2020     99970
307643  2020     99990
307644  2020        WC

[307645 rows x 2 columns]

In [ ]:
data[data["MONTH"]< 5]
## FIltering using one condition

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
0,2020,1,REPUBLIC NATIONAL DISTRIBUTING CO,100009,BOOTLEG RED - 750ML,WINE,0.00,0.0,2.00
1,2020,1,PWSWN INC,100024,MOMENT DE PLAISIR - 750ML,WINE,0.00,1.0,4.00
2,2020,1,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,1.00
3,2020,1,LANTERNA DISTRIBUTORS INC,100145,SCHLINK HAUS KABINETT - 750ML,WINE,0.00,0.0,1.00
4,2020,1,DIONYSOS IMPORTS INC,100293,SANTORINI GAVALA WHITE - 750ML,WINE,0.82,0.0,0.00
...,...,...,...,...,...,...,...,...,...
207524,2019,4,LEGENDS LTD,99753,DUTCHESS DE BOURGOGNE NR - 750ML,BEER,0.00,0.0,3.00
207525,2019,4,ANHEUSER BUSCH INC,9997,HOEGAARDEN 4/6NR - 12OZ,BEER,72.29,74.0,177.75
207526,2019,4,COASTAL BREWING COMPANY LLC,99970,DOMINION OAK BARREL STOUT 4/6 NR - 12OZ,BEER,1.75,2.0,13.00
207527,2019,4,BOSTON BEER CORPORATION,99990,SAM ADAMS SUMMER VARIETY 12PK NR,BEER,15.50,48.0,353.50
207528,2019,4,NaN,BC,BEER CREDIT,REF,0.00,0.0,-447.00

In [29]:
data[(data["MONTH"] > 5) & (data["YEAR"] < 2020)]

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
34701,2017,6,CONSTANTINE WINES INC,100008,AMITY VINEYARDS P/NOIR 2013 - 750ML,WINE,0.00,0.0,0.0
34702,2017,6,INTERBALT PRODUCTS CORP,100012,PAPI P/GRIG - 750ML,WINE,0.00,0.0,6.0
34703,2017,6,DOPS INC,10004,ANYWHERE CELLARS ROSE,WINE,0.00,0.0,1.0
34704,2017,6,LANTERNA DISTRIBUTORS INC,100145,SCHLINK HAUS KABINETT - 750ML,WINE,0.00,0.0,1.0
34705,2017,6,ROYAL WINE CORP,100200,GAMLA CAB - 750ML,WINE,0.08,0.0,0.0
...,...,...,...,...,...,...,...,...,...
296063,2019,11,NaN,BC,BEER CREDIT,REF,0.00,0.0,-123.0
296064,2019,11,NaN,WC,WINE CREDIT,REF,0.00,0.0,-275.0
296065,2019,11,JACK POUST & COMPANY INC,82630,LES TOURS CHARD - 750ML,WINE,0.32,0.0,0.0
296066,2019,11,E & J GALLO WINERY,83431,APOTHIC CAL ROSE - 750ML,WINE,13.13,14.0,13.0
296067,2019,11,E & J GALLO WINERY,84012,LAS ROCAS GARANCHA VINEAS VIEJAS 6/C - 750ML,WINE,8.12,5.0,2.0

In [30]:
data[(data["MONTH"] > 5) | (data["YEAR"] < 2020)]

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
11987,2020,7,REPUBLIC NATIONAL DISTRIBUTING CO,100009,BOOTLEG RED - 750ML,WINE,0.08,0.0,1.00
11988,2020,7,PWSWN INC,100023,CH PARADIS-TERRE DES ANGES ROSE,WINE,0.00,0.0,4.00
11989,2020,7,PWSWN INC,100024,MOMENT DE PLAISIR - 750ML,WINE,0.34,0.0,18.00
11990,2020,7,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,3.00
11991,2020,7,LANTERNA DISTRIBUTORS INC,100145,SCHLINK HAUS KABINETT - 750ML,WINE,0.00,0.0,2.00
...,...,...,...,...,...,...,...,...,...
307640,2020,9,LEGENDS LTD,99753,DUTCHESS DE BOURGOGNE NR - 750ML,BEER,0.00,0.0,5.00
307641,2020,9,ANHEUSER BUSCH INC,9997,HOEGAARDEN 4/6NR - 12OZ,BEER,66.12,37.0,240.75
307642,2020,9,COASTAL BREWING COMPANY LLC,99970,DOMINION OAK BARREL STOUT 4/6 NR - 12OZ,BEER,2.25,0.0,0.00
307643,2020,9,BOSTON BEER CORPORATION,99990,SAM ADAMS SUMMER VARIETY 12PK NR,BEER,20.50,0.0,0.00
307644,2020,9,NaN,WC,WINE CREDIT,REF,0.00,0.0,-70.00

In [ ]:
data.loc[data["YEAR"] < 2025, ["SUPPLIER","ITEM CODE"]]
##Using loc[]

                                 SUPPLIER ITEM CODE
0       REPUBLIC NATIONAL DISTRIBUTING CO    100009
1                               PWSWN INC    100024
2                 RELIABLE CHURCHILL LLLP      1001
3               LANTERNA DISTRIBUTORS INC    100145
4                    DIONYSOS IMPORTS INC    100293
...                                   ...       ...
307640                        LEGENDS LTD     99753
307641                 ANHEUSER BUSCH INC      9997
307642        COASTAL BREWING COMPANY LLC     99970
307643            BOSTON BEER CORPORATION     99990
307644                                NaN        WC

[307645 rows x 2 columns]

In [ ]:
data.iloc[0:6,  [0,1,3]]
### using iloc[]

   YEAR  MONTH ITEM CODE
0  2020      1    100009
1  2020      1    100024
2  2020      1      1001
3  2020      1    100145
4  2020      1    100293
5  2020      1    100641

In [40]:
data.iloc[10:20,[2,4]]

,SUPPLIER,ITEM DESCRIPTION
10,HEAVEN HILL DISTILLERIES INC,J W DANT BOURBON 100P - 1.75L
11,BACCHUS IMPORTERS LTD,NOTEWORTHY SMALL BATCH BOURBON - 750ML
12,BACCHUS IMPORTERS LTD,NOTEWORTHY SMALL BATCH RYE 750ML
13,BACCHUS IMPORTERS LTD,NOTEWORTHY SMALL BATCH HONEY BBN 750
14,MONSIEUR TOUTON SELECTION,ALSACE WILLIAM GEW - 750ML
15,"THE COUNTRY VINTNER, LLC DBA WINEBOW",POLIZIANO ROSSO MONTEPUL - 750ML
16,"THE COUNTRY VINTNER, LLC DBA WINEBOW",HATSUMAGO SAKE JUN MAI SHU - 720ML
17,ROYAL WINE CORP,RAMON CORDOVA RIOJA - 750ML
18,REPUBLIC NATIONAL DISTRIBUTING CO,MANISCHEWITZ CREAM RED CONCORD - 1.5L
19,ROYAL WINE CORP,BARKAN CLASSIC PET SYR - 750ML

In [ ]:
## PART 3
## USING GROUPBY
data.groupby("SUPPLIER")["YEAR"].mean()

SUPPLIER
8 VINI INC                     2017.111111
A HARDY USA LTD                2017.000000
A I G WINE & SPIRITS           2018.098592
A VINTNERS SELECTIONS          2017.495397
A&E INC                        2017.428571
                                  ...
WITH MALUS AFORETHOUGHT LLC    2020.000000
YOUNG WON TRADING INC          2018.485422
YUENGLING BREWERY              2018.549020
Z WINE GALLERY IMPORTS LLC     2017.818182
ZURENA LLC                     2018.434783
Name: YEAR, Length: 396, dtype: float64

In [ ]:
## Aggregation(one metric)
data.groupby("SUPPLIER")["WAREHOUSE SALES"].sum()

SUPPLIER
8 VINI INC                          1.00
A HARDY USA LTD                     0.00
A I G WINE & SPIRITS              197.00
A VINTNERS SELECTIONS           35241.97
A&E INC                             0.00
                                 ...
WITH MALUS AFORETHOUGHT LLC        15.00
YOUNG WON TRADING INC            7090.95
YUENGLING BREWERY              134147.86
Z WINE GALLERY IMPORTS LLC         30.00
ZURENA LLC                          0.00
Name: WAREHOUSE SALES, Length: 396, dtype: float64

In [49]:
## Aggregation(multiple metrics)

data.groupby("SUPPLIER")["WAREHOUSE SALES"].agg("mean","sum","max")

SUPPLIER
8 VINI INC                       0.111111
A HARDY USA LTD                  0.000000
A I G WINE & SPIRITS             2.774648
A VINTNERS SELECTIONS            3.526313
A&E INC                          0.000000
                                  ...
WITH MALUS AFORETHOUGHT LLC      7.500000
YOUNG WON TRADING INC            3.627084
YUENGLING BREWERY              292.261133
Z WINE GALLERY IMPORTS LLC       0.681818
ZURENA LLC                       0.000000
Name: WAREHOUSE SALES, Length: 396, dtype: float64

In [ ]:
## Interpretation
## Commodities traded in the datasets are wine/beer
## Most transactions took place in the year 2018
## Ware house sales has a high maximum